*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont{
  margin: 2%;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .cont-text{
    width: 500px;
    h1{
      width: 350px;
      font-family: 'Miller';
    }
    p{
      padding-top: 40px;
      width: 250px;
      font-family: 'Miller';
      color: #979696;
    }
  }
  .square{
    width: 500px;
    height: 500px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    .image-pos{
      display: flex;
      position: relative;
      top: 18vh;
      right: 8vw;
      .img{
        background: url(../../../assets/orafo.png) no-repeat;
        background-size: contain;
        width: 400px;
        height: 320px;
      }
      h3{
        width: 250px;
        padding: 40px 0px 40px;
        font-family: 'Montserrat';
      }
      p{
        font-size: x-small;
        font-family: 'Montserrat';
      }
      span{
        padding: 0 40px 0 0;
        font-size: 30px;
        color: #979696;
      }
      .p-date{
        color: #989844;
        letter-spacing: 2px;
      }
    }
    }

}
/*MEDIA */

@media screen and (min-width: 350px) and (max-width: 768px) {
  .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cont-text{
      width: 50vw;
      text-align: justify;
      h1{
        width: fit-content;
      }
      p{
        padding-top: 20px;
        width: fit-content;

      }
    }

    .square{
      width: 50vw;
      height: 50vh;
      background-color: #f8f8f8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .image-pos{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 15vh;
        left: 10vw;
        .text-pos{
          top: 1vh;
        }
        .img{
          background: url(../../../assets/orafo.png) no-repeat;
          background-size: contain;
          width: 200px;
          height: 200px;
        }
        .text-pos{
          background-color: rgb(151, 150, 150, 0.8);
          position: relative;
          bottom: 33.3vh;
          width: 200px;
          height: 200px;
          p{
            color: white;
            padding-left: 10px;
          }
          .p-date{
            color: #ffff07;
          }
          h3{
            padding-left: 10px;
            width: 200px;
            font-size: medium;
          }
          span{
            color: white;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

