<div class="cont">
  <div class="cont-text"
  data-aos="fade-up"
  data-aos-offset="100"
  data-aos-delay="10"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="top-center"
  >
    <h1>Press from <br>
      Watch Lab Studio
    </h1>
    <p>On the other hand, we denounce with righteous indignation
      and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
      so blinded by desire,
      that they cannot foresee the pain trouble
    </p>
  </div>
  <div class="square"
  data-aos="fade-up"
  data-aos-offset="100"
  data-aos-delay="10"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="top-center"
  >
    <div class="image-pos">
      <div class="img"></div>
      <div class="text-pos">
        <p class="p-press">P R E S S</p>
        <p class="p-date">18 SETTEMBRE 2015</p>
        <h3>Most Important Days on Watchlab</h3>
        <span>˂</span><span>˃</span>
      </div>
    </div>
  </div>
</div>



