<div class="cont">

  <div class="links">
    <ul>
      <h2>WATCH/LAB</h2>
      <li>Watch/Lab <span>Innovation brings success</span></li>
      <li>Via Borgogna 5, Milan</li>
      <li>Italy</li>
    </ul>
    <ul class="list list-2">
      <li>About us</li>
      <li>Brand</li>
      <li>Projects</li>
      <li>Magazine</li>
    </ul>
    <ul class="list list-3">
      <li>Press</li>
      <li>Contacts</li>
      <li>Privacy Policy</li>
      <li>Search</li>
    </ul>
    <ul class="list list-4">
      <li>T. +39 392 9133937</li>
      <li>M. info@watch-lab.it</li>
      <li>F A C E B O O K</li>
      <li>I N S T A G R A M</li>
    </ul>
  </div>

  <div class="icons">
    <p class="p1">Copyright Watch/Lab all rights reserved</p>
    <p class="p2">website by nssfactory</p>
  </div>
</div>
