<div class="cont cont-1"
data-aos="fade-up"
data-aos-offset="100"
data-aos-delay="10"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false"
data-aos-anchor-placement="top-center"
>
  <div class="text">
    <p class="p1">LONDON COLLECTION SEASON</p>
    <h2>Temporary Store</h2>
    <p class="p2">On the other hand, we denounce with righteous indignation and
      dislike men who are so beguiled and demoralized by the charms of
      pleasure of the moment,
      so blinded by desire
    </p>
    <button class="btn alternative_btn">View</button>
  </div>
  <div class="img"></div>
</div>
<div class="cont cont-2"
data-aos="fade-up"
data-aos-offset="100"
data-aos-delay="10"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false"
data-aos-anchor-placement="top-center"
>
  <div class="img2"></div>
  <div class="text">
    <p class="p1">LONDON COLLECTION SEASON</p>
    <h2 class="titolo2">New Collection Henry London</h2>
    <p class="p2">On the other hand, we denounce with righteous indignation and
      dislike men who are so beguiled and demoralized by the charms of
      pleasure of the moment,
      so blinded by desire
    </p>
    <button class="btn alternative_btn">View</button>
  </div>

</div>
