<div class="container">
	<div class="img">
    <div class="cont-titolo">
      <div class="titolo">
        <p>LONDON COLLECTION SEASON</p>
        <h2>{{Titolo}}</h2>
        <p class="p2">An estimable experience in the modern collection house</p>
        <div class="btn alternative_btn">
          <span> Discover</span>
        </div>
      </div>
    </div>
    <div class="item-1">
      <p class="first-word">The Path to Success with Watchlab</p>
      <p class="second-word">Next <span>></span></p>
    </div>
  </div>
</div>
