/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Merriweather-Regular';
  src: url(../src/assets/font/Merriweather-Regular.ttf);
  font-family: 'Miller-Display_30501';
  src: url(../src/assets/font/Miller-Display_30501.ttf);
  font-family: 'Montserrat-Bold';
  src: url(../src/assets/font/Montserrat-Bold.ttf);
  font-family: 'Montserrat-Regular';
  src: url(../src/assets/font/Montserrat-Regular.ttf);
}
